body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
	font-size: 140%
}
/* CSS Grid styling via https://gridbyexample.com/patterns/ - Rachel Andrew @rachelandrew */

*, *:before, *:after {
  box-sizing: border-box;
}

h1, p {
	margin: 0 0 1em 0;
}

.wrapper {
	max-width: 940px;
	margin: 0 30px;
	display: grid;
	grid-gap: 10px;
}

.bold-header-uppercase {
	font-weight: 800;
	text-transform: uppercase;
}

@media screen and (min-width: 500px) {
	.sidebar {
		float: left;
		width: 19.1489%;
	}
	 .content {
		float: right;
		width: 79.7872%;
	}
	 .wrapper {
		margin: 20px auto;
		grid-template-columns: 1fr 3fr;
	}
	 .header, .footer {
		grid-column: 1 / -1;
		clear: both;
	}
}

.wrapper > * {
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 10px;
}

 @supports (display: grid) {
	.wrapper > * {
		width: auto;
		margin: 0;
	}
}
.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}
.content-row-1 {
	flex: 1;
	align-items: flex-start;
	justify-content: flex-start;
	flex-grow: 1
}
.content-row-2 {
	align-items: flex-end;
	justify-content: flex-end;
	overflow: hidden;
}